body {
    background-color: teal;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
/* Horizontal navigation page with borders!! Along with a hover bonus. Start from 
ul and goes down to li a:hover! */
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: tan;
}
li {
    float: left;
    border-right: 1px solid;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: blueviolet;
}
img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}